@{
    ViewData["Title"] = "Yönlendirme";
}


<div style="text-align: center; margin-top: 100px;">
    <h1>Muhtarlık Sistemine Hoş Geldiniz</h1>
    <p>İşlem yapmak için lütfen giriş yapınız.</p>
    <a class="btn btn-primary" href="/Vatandas/Login">Giriş Yap</a>
</div>